.section {
    background-image: url('../../public/sunless-hills.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    padding: 5em 0;
}

.section-column-blank {
    width: 50%;
}

.section-column {
    width: 40%;
    font-size: large;
    color: black;
    padding: 0 5em;
}

.section-column img {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

.card {
    background-color: var(--neutral300);
    padding: 1em;
    border-radius: 1em;
}