.hero-section {
    background-image: url('../../public/placeholder-hero-image.jpg');
    display: flex;
}

.section-column-blank {
    width: 50%;
}

.section-column {
    width: 40%;
    font-size: large;
    color: black;
    padding: 12% 5%;
}