.hero-section {
    background-image: url('../../public/sunless-hills.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    padding: 3em 0;
}


.section-column-text {
    width: 60%;
    font-size: large;
    color: black;
    padding: 0 5em;
}

.section-column-image {
    width: 40%;
    padding: 0 8em;
}

.section-column-image img {
    width: 100%;
    height: auto;
    border-radius: 1em;
}

.card {
    background-color: var(--neutral300);
    padding: 1em;
    border-radius: 1em;
}