:root {
  --blue100: #AED9E0;
  --green200: #9B8F41;
  --green400: #606024;
  --neutral100: #f1f1EC;
  --neutral200: #EDDFCA;
  --neutral300: #DCCFB1;
  --neutral900: #222412;
  --yellow200: #F9E0B2;
  --yellow400: #E4AB4E;

  --my-font: Garamond, Trebuchet, Georgia;

}

.App {
  text-align: center;
  font-family: var(--my-font);
}